.btn-primary {
	@include border-color($primary-color);

	background: $primary-color;	
	cursor: pointer;
}

.btn-dark {
	$border-color: darken($primary-color, 20%);
	@include border-color($border-color);
	@include border-radius(0);

	background: darken($primary-color, 20%);
}