.btn-primary {
	background: $primary-color;
	border-color: $primary-color;
	cursor: pointer;
}

.btn-dark {
	background: darken($primary-color, 20%);
	border-color: darken($primary-color, 20%);
	border-radius: 0px;
}